<?xml version="1.0" encoding="utf-8"?>
<Content Key="dec63f6c-93d3-4d06-8f4e-cb6bcf0be27e" Alias="Accessories" Level="3">
  <Info>
    <Parent Key="d2589eea-382e-4d67-8a5a-9996775e232f">Categories</Parent>
    <Path>/Home/Categories/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-01-05T14:44:01</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="64a62955-3740-45a8-9259-bd2feffafa8d">Category</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "8ae23f18-6692-4fbf-a245-52574cdfa42c",
    "mediaKey": "13a6585a-03ac-4203-9b1f-daa0f1a9c3e2"
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Accessories]]></Value>
    </categoryName>
  </Properties>
</Content>