<?xml version="1.0" encoding="utf-8"?>
<Content Key="d197ec0d-34fb-43ce-a767-0236f86340a6" Alias="Cameras" Level="3">
  <Info>
    <Parent Key="d2589eea-382e-4d67-8a5a-9996775e232f">Categories</Parent>
    <Path>/Home/Categories/Cameras</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-01-05T14:43:17</CreateDate>
    <NodeName Default="Cameras" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="64a62955-3740-45a8-9259-bd2feffafa8d">Category</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[]]></Value>
    </categoryDescription>
    <categoryName>
      <Value><![CDATA[Cameras]]></Value>
    </categoryName>
  </Properties>
</Content>