<?xml version="1.0" encoding="utf-8"?>
<Content Key="45235a93-4633-43d8-a81d-9050558ce6df" Alias="Cart" Level="2">
  <Info>
    <Parent Key="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">Home</Parent>
    <Path>/Home/Cart</Path>
    <Trashed>false</Trashed>
    <ContentType>cart</ContentType>
    <CreateDate>2024-01-08T16:05:49</CreateDate>
    <NodeName Default="Cart" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="007bc01d-d249-463d-8bcf-284eb83ec6a9">Cart</Template>
  </Info>
  <Properties />
</Content>