<?xml version="1.0" encoding="utf-8"?>
<Content Key="d2589eea-382e-4d67-8a5a-9996775e232f" Alias="Categories" Level="2">
  <Info>
    <Parent Key="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">Home</Parent>
    <Path>/Home/Categories</Path>
    <Trashed>false</Trashed>
    <ContentType>categories</ContentType>
    <CreateDate>2024-01-05T14:35:19</CreateDate>
    <NodeName Default="Categories" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1bdd6974-da1b-4f88-92bf-a4d154728341">Categories</Template>
  </Info>
  <Properties />
</Content>