<?xml version="1.0" encoding="utf-8"?>
<Content Key="9983a29f-650b-4c24-b8e6-7d555c87cfc7" Alias="Checkout" Level="2">
  <Info>
    <Parent Key="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">Home</Parent>
    <Path>/Home/Checkout</Path>
    <Trashed>false</Trashed>
    <ContentType>uccCheckoutPage</ContentType>
    <CreateDate>2024-01-09T12:04:30</CreateDate>
    <NodeName Default="Checkout" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <uccBackPage>
      <Value><![CDATA[umb://document/45235a93463343d8a81d9050558ce6df]]></Value>
    </uccBackPage>
    <uccCollectShippingInfo>
      <Value><![CDATA[0]]></Value>
    </uccCollectShippingInfo>
    <uccOrderLinePropertyAliases>
      <Value><![CDATA[]]></Value>
    </uccOrderLinePropertyAliases>
    <uccPrivacyPolicyPage>
      <Value><![CDATA[]]></Value>
    </uccPrivacyPolicyPage>
    <uccStoreAddress>
      <Value><![CDATA[1734 Stonecoal Road]]></Value>
    </uccStoreAddress>
    <uccStoreLogo>
      <Value><![CDATA[[
  {
    "key": "a4d8148e-34d1-4775-b3dd-4405421a99ea",
    "mediaKey": "e9167225-110d-4a9a-aaa3-e007fd9ddc0b"
  }
]]]></Value>
    </uccStoreLogo>
    <uccTermsAndConditionsPage>
      <Value><![CDATA[]]></Value>
    </uccTermsAndConditionsPage>
    <uccThemeColor>
      <Value><![CDATA[{
  "value": "ef4444",
  "label": "red-500",
  "sortOrder": 1,
  "id": "1"
}]]></Value>
    </uccThemeColor>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>