<?xml version="1.0" encoding="utf-8"?>
<Content Key="5c8bb205-4482-4ab1-babf-3a6401364b09" Alias="Cloth" Level="3">
  <Info>
    <Parent Key="a37028bc-e3b9-4aeb-ae7c-39ff85d2810c">Categories</Parent>
    <Path>/SMart/Categories/Cloth</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-02-28T14:34:48</CreateDate>
    <NodeName Default="Cloth" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="64a62955-3740-45a8-9259-bd2feffafa8d">Category</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[The brand’s product range is wide, ranging from jackets, blazers, shorts, denim shirts, T-shirts, polo shirts, and sweaters to briefs, and more that cater to your diverseh]]></Value>
    </categoryDescription>
    <categoryImage>
      <Value><![CDATA[[
  {
    "key": "8b53aef1-c5e3-4ce4-b429-d6c86b5487e5",
    "mediaKey": "e6018234-1f6a-4678-bff7-1f7961f3d554"
  }
]]]></Value>
    </categoryImage>
    <categoryName>
      <Value><![CDATA[Cloth]]></Value>
    </categoryName>
  </Properties>
</Content>