<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e12dc96-6dff-45d2-8ae2-6ced2ef69b35" Alias="Customer Information" Level="3">
  <Info>
    <Parent Key="9983a29f-650b-4c24-b8e6-7d555c87cfc7">Checkout</Parent>
    <Path>/Home/Checkout/CustomerInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>uccCheckoutStepPage</ContentType>
    <CreateDate>2024-01-09T12:04:30</CreateDate>
    <NodeName Default="Customer Information" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <uccShortStepName>
      <Value><![CDATA[Customer Information]]></Value>
    </uccShortStepName>
    <uccStepType>
      <Value><![CDATA[[
  "Information"
]]]></Value>
    </uccStepType>
  </Properties>
</Content>