<?xml version="1.0" encoding="utf-8"?>
<Content Key="63920ee0-a5c4-4301-9412-3f8d5b15f366" Alias="Fujifilm Fujifilm X-T4" Level="3">
  <Info>
    <Parent Key="a93eb29a-b530-415d-8c38-c2fa6cc0fcf8">Products</Parent>
    <Path>/Home/Products/FujifilmFujifilmXT4</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-01-05T15:02:06</CreateDate>
    <NodeName Default="Fujifilm Fujifilm X-T4" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8fe48282-8b47-410d-9e10-28b162fbd609">Product</Template>
  </Info>
  <Properties>
    <categoryType>
      <Value><![CDATA[umb://document/d197ec0d34fb43cea7670236f86340a6]]></Value>
    </categoryType>
    <image>
      <Value><![CDATA[[
  {
    "key": "b5803af8-dfdf-415b-b3fb-5e903ec27172",
    "mediaKey": "0a8283a3-415b-4e09-a5c6-b3fba9766418"
  }
]]]></Value>
    </image>
    <price>
      <Value><![CDATA[{
  "eedf03d8-8740-428b-8bce-018cd87f49c6": 46
}]]></Value>
    </price>
    <productDetail>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua]]></Value>
    </productDetail>
    <productName>
      <Value><![CDATA[Fujifilm Fujifilm X-T4]]></Value>
    </productName>
    <sKU>
      <Value><![CDATA[CM-002]]></Value>
    </sKU>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>