<?xml version="1.0" encoding="utf-8"?>
<Content Key="b18674d9-7da6-4c6a-b3be-ecc29317e470" Alias="Game controller" Level="3">
  <Info>
    <Parent Key="a93eb29a-b530-415d-8c38-c2fa6cc0fcf8">Products</Parent>
    <Path>/Home/Products/GameController</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-01-08T16:02:19</CreateDate>
    <NodeName Default="Game controller">
      <Name Culture="en-us">Game controller</Name>
      <Name Culture="es">Game controller</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es">true</Published>
    </Published>
    <Schedule />
    <Template Key="8fe48282-8b47-410d-9e10-28b162fbd609">Product</Template>
  </Info>
  <Properties>
    <categoryType>
      <Value><![CDATA[umb://document/dec63f6c93d34d068f4ecb6bcf0be27e,umb://document/6673d1280d2b4a328fffaf585b3af846]]></Value>
    </categoryType>
    <image>
      <Value><![CDATA[[
  {
    "key": "7eb64b70-c770-4a94-b24d-e8faf02ee404",
    "mediaKey": "36ff6af1-fc95-4d7e-8a45-7296efacb54f"
  }
]]]></Value>
    </image>
    <price>
      <Value><![CDATA[{
  "eedf03d8-8740-428b-8bce-018cd87f49c6": 21
}]]></Value>
    </price>
    <productDetail>
      <Value Culture="en-us"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua]]></Value>
      <Value Culture="es"><![CDATA[El sol brilla en el cielo azul, iluminando el mundo con su cálido resplandor.]]></Value>
    </productDetail>
    <productName>
      <Value><![CDATA[Game controller]]></Value>
    </productName>
    <sKU>
      <Value><![CDATA[ACC-001]]></Value>
    </sKU>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>