<?xml version="1.0" encoding="utf-8"?>
<Content Key="523a8c7e-1320-49e9-8f52-590edf37ab5c" Alias="HDMI cord" Level="3">
  <Info>
    <Parent Key="a93eb29a-b530-415d-8c38-c2fa6cc0fcf8">Products</Parent>
    <Path>/Home/Products/HDMICord</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-01-08T17:22:10</CreateDate>
    <NodeName Default="HDMI cord" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8fe48282-8b47-410d-9e10-28b162fbd609">Product</Template>
  </Info>
  <Properties>
    <categoryType>
      <Value><![CDATA[umb://document/dec63f6c93d34d068f4ecb6bcf0be27e]]></Value>
    </categoryType>
    <image>
      <Value><![CDATA[[
  {
    "key": "c5eed255-2f12-4c0b-bbf1-1b582c73ad8e",
    "mediaKey": "13a6585a-03ac-4203-9b1f-daa0f1a9c3e2"
  }
]]]></Value>
    </image>
    <price>
      <Value><![CDATA[{
  "eedf03d8-8740-428b-8bce-018cd87f49c6": 2
}]]></Value>
    </price>
    <productName>
      <Value><![CDATA[HDMI cord]]></Value>
    </productName>
    <sKU>
      <Value><![CDATA[AS-003]]></Value>
    </sKU>
  </Properties>
</Content>