<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba061532-e39c-497c-8b6c-54fe66173458" Alias="Iphone 13 Pro Max" Level="3">
  <Info>
    <Parent Key="a93eb29a-b530-415d-8c38-c2fa6cc0fcf8">Products</Parent>
    <Path>/Home/Products/Iphone13ProMax</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-01-05T14:39:35</CreateDate>
    <NodeName Default="Iphone 13 Pro Max" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8fe48282-8b47-410d-9e10-28b162fbd609">Product</Template>
  </Info>
  <Properties>
    <categoryType>
      <Value><![CDATA[umb://document/6673d1280d2b4a328fffaf585b3af846]]></Value>
    </categoryType>
    <image>
      <Value><![CDATA[[
  {
    "key": "1fef3165-e17c-4fde-9702-b2830ed0f2dd",
    "mediaKey": "855bd9ea-2561-4a31-af6b-95420efb9f7d"
  }
]]]></Value>
    </image>
    <price>
      <Value><![CDATA[{
  "eedf03d8-8740-428b-8bce-018cd87f49c6": 59
}]]></Value>
    </price>
    <productDetail>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua]]></Value>
    </productDetail>
    <productName>
      <Value><![CDATA[Iphone 13 Pro Max]]></Value>
    </productName>
    <sKU>
      <Value><![CDATA[SM-001]]></Value>
    </sKU>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>