<?xml version="1.0" encoding="utf-8"?>
<Content Key="985ca5bc-d8f0-4b81-898e-18271fc916e1" Alias="JBL Earphones" Level="3">
  <Info>
    <Parent Key="a93eb29a-b530-415d-8c38-c2fa6cc0fcf8">Products</Parent>
    <Path>/Home/Products/JBLEarphones</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-01-08T17:21:29</CreateDate>
    <NodeName Default="JBL Earphones" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8fe48282-8b47-410d-9e10-28b162fbd609">Product</Template>
  </Info>
  <Properties>
    <categoryType>
      <Value><![CDATA[umb://document/dec63f6c93d34d068f4ecb6bcf0be27e]]></Value>
    </categoryType>
    <image>
      <Value><![CDATA[[
  {
    "key": "9d2952fc-dbe6-4a65-b7fe-403c68cd295d",
    "mediaKey": "ea995dd2-b237-4155-a15c-bfac1b606842"
  }
]]]></Value>
    </image>
    <price>
      <Value><![CDATA[{
  "eedf03d8-8740-428b-8bce-018cd87f49c6": 9
}]]></Value>
    </price>
    <productName>
      <Value><![CDATA[JBL Earphones ]]></Value>
    </productName>
    <sKU>
      <Value><![CDATA[AS-001]]></Value>
    </sKU>
  </Properties>
</Content>