<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa65f681-f55b-419d-87ae-3ec480303714" Alias="Laptops" Level="3">
  <Info>
    <Parent Key="d2589eea-382e-4d67-8a5a-9996775e232f">Categories</Parent>
    <Path>/Home/Categories/Laptops</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-01-05T14:38:49</CreateDate>
    <NodeName Default="Laptops" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="64a62955-3740-45a8-9259-bd2feffafa8d">Category</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[]]></Value>
    </categoryDescription>
    <categoryName>
      <Value><![CDATA[Laptops]]></Value>
    </categoryName>
  </Properties>
</Content>