<?xml version="1.0" encoding="utf-8"?>
<Content Key="023df7d2-5f9a-4f5e-ba4e-2edc63df39af" Alias="MacBook Air" Level="3">
  <Info>
    <Parent Key="a93eb29a-b530-415d-8c38-c2fa6cc0fcf8">Products</Parent>
    <Path>/Home/Products/MacBookAir</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-01-05T14:47:58</CreateDate>
    <NodeName Default="MacBook Air">
      <Name Culture="en-us">MacBook Air</Name>
      <Name Culture="es">MacBook Air</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es">true</Published>
    </Published>
    <Schedule />
    <Template Key="8fe48282-8b47-410d-9e10-28b162fbd609">Product</Template>
  </Info>
  <Properties>
    <categoryType>
      <Value><![CDATA[umb://document/fa65f681f55b419d87ae3ec480303714]]></Value>
    </categoryType>
    <image>
      <Value><![CDATA[[
  {
    "key": "edfb828e-b35c-43e5-9a9a-11c6ac46cf27",
    "mediaKey": "bf3bdbf9-d143-4d09-8852-be529cadc9ce"
  }
]]]></Value>
    </image>
    <price>
      <Value><![CDATA[{
  "eedf03d8-8740-428b-8bce-018cd87f49c6": 100
}]]></Value>
    </price>
    <productDetail>
      <Value Culture="en-us"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua]]></Value>
      <Value Culture="es"><![CDATA[El sol brilla en el cielo azul, iluminando el mundo con su cálido resplandor.]]></Value>
    </productDetail>
    <productName>
      <Value><![CDATA[MacBook Air]]></Value>
    </productName>
    <sKU>
      <Value><![CDATA[LP-001]]></Value>
    </sKU>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>