<?xml version="1.0" encoding="utf-8"?>
<Content Key="c7ed2d87-d6f9-4a0f-a8fe-c7b7370bc761" Alias="My Account" Level="2">
  <Info>
    <Parent Key="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">Home</Parent>
    <Path>/Home/MyAccount</Path>
    <Trashed>false</Trashed>
    <ContentType>myAccount</ContentType>
    <CreateDate>2024-01-08T17:02:49</CreateDate>
    <NodeName Default="My Account" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="30f51375-20c0-402f-8516-be92c98d7814">MyAccount</Template>
  </Info>
  <Properties />
</Content>