<?xml version="1.0" encoding="utf-8"?>
<Content Key="06bc6e14-7dc6-45e7-9326-78a39ca37db2" Alias="My Orders" Level="2">
  <Info>
    <Parent Key="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">Home</Parent>
    <Path>/Home/MyOrders</Path>
    <Trashed>false</Trashed>
    <ContentType>myOrders</ContentType>
    <CreateDate>2024-02-06T14:47:00</CreateDate>
    <NodeName Default="My Orders" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="1c89bb50-b3c8-48af-9dd9-0e65428182eb">MyOrders</Template>
  </Info>
  <Properties />
</Content>