<?xml version="1.0" encoding="utf-8"?>
<Content Key="f46a7ac1-a789-4bb0-983e-037a7f22ca7c" Alias="My Order" Level="2">
  <Info>
    <Parent Key="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">Home</Parent>
    <Path>/Home/MyOrder</Path>
    <Trashed>false</Trashed>
    <ContentType>myOrder</ContentType>
    <CreateDate>2024-02-06T17:05:12</CreateDate>
    <NodeName Default="My Order" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="00c11696-32f4-4c7e-8356-bcd912ea9814">MyOrder</Template>
  </Info>
  <Properties />
</Content>