<?xml version="1.0" encoding="utf-8"?>
<Content Key="139c83b6-95a1-4fe1-aa06-45acbfba354b" Alias="Notebook" Level="3">
  <Info>
    <Parent Key="a93eb29a-b530-415d-8c38-c2fa6cc0fcf8">Products</Parent>
    <Path>/Home/Products/Notebook</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-01-05T14:47:03</CreateDate>
    <NodeName Default="Notebook" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8fe48282-8b47-410d-9e10-28b162fbd609">Product</Template>
  </Info>
  <Properties>
    <categoryType>
      <Value><![CDATA[umb://document/fa65f681f55b419d87ae3ec480303714]]></Value>
    </categoryType>
    <image>
      <Value><![CDATA[[
  {
    "key": "cee41743-1edc-4db8-a1e7-0a09518ab059",
    "mediaKey": "e6018234-1f6a-4678-bff7-1f7961f3d554"
  }
]]]></Value>
    </image>
    <price>
      <Value><![CDATA[{
  "eedf03d8-8740-428b-8bce-018cd87f49c6": 98
}]]></Value>
    </price>
    <productDetail>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua]]></Value>
    </productDetail>
    <productName>
      <Value><![CDATA[Notebook]]></Value>
    </productName>
    <sKU>
      <Value><![CDATA[LP-002]]></Value>
    </sKU>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>