<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d5f1009-f700-4918-8720-befc1bbf26ee" Alias="Order Confirmation" Level="2">
  <Info>
    <Parent Key="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">Home</Parent>
    <Path>/Home/OrderConfirmation</Path>
    <Trashed>false</Trashed>
    <ContentType>orderConfirmation</ContentType>
    <CreateDate>2024-01-10T15:02:43</CreateDate>
    <NodeName Default="Order Confirmation" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="cc45d94c-2d3b-4d81-a2ec-9ca4e92f4571">OrderConfirmation</Template>
  </Info>
  <Properties />
</Content>