<?xml version="1.0" encoding="utf-8"?>
<Content Key="a272f35a-0bae-41e8-9659-ebd58c9d5538" Alias="Payment Method" Level="3">
  <Info>
    <Parent Key="9983a29f-650b-4c24-b8e6-7d555c87cfc7">Checkout</Parent>
    <Path>/Home/Checkout/PaymentMethod</Path>
    <Trashed>false</Trashed>
    <ContentType>uccCheckoutStepPage</ContentType>
    <CreateDate>2024-01-09T12:04:30</CreateDate>
    <NodeName Default="Payment Method" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <uccShortStepName>
      <Value><![CDATA[Payment Method]]></Value>
    </uccShortStepName>
    <uccStepType>
      <Value><![CDATA[[
  "PaymentMethod"
]]]></Value>
    </uccStepType>
  </Properties>
</Content>