<?xml version="1.0" encoding="utf-8"?>
<Content Key="cb8b5b07-76fe-4541-98fb-bf1bb3249b2d" Alias="Payment Method" Level="2">
  <Info>
    <Parent Key="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">Home</Parent>
    <Path>/Home/PaymentMethod</Path>
    <Trashed>false</Trashed>
    <ContentType>paymentMethod</ContentType>
    <CreateDate>2024-01-09T16:53:59</CreateDate>
    <NodeName Default="Payment Method" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ec07f9a5-f884-4699-9147-3cebaddba471">PaymentMethod</Template>
  </Info>
  <Properties />
</Content>