<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f3dab30-f1a4-4b66-8f55-cd1fbfe0435e" Alias="Process Payment" Level="3">
  <Info>
    <Parent Key="9983a29f-650b-4c24-b8e6-7d555c87cfc7">Checkout</Parent>
    <Path>/Home/Checkout/ProcessPayment</Path>
    <Trashed>false</Trashed>
    <ContentType>uccCheckoutStepPage</ContentType>
    <CreateDate>2024-01-09T12:04:30</CreateDate>
    <NodeName Default="Process Payment" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <uccShortStepName>
      <Value><![CDATA[Process Payment]]></Value>
    </uccShortStepName>
    <uccStepType>
      <Value><![CDATA[[
  "Payment"
]]]></Value>
    </uccStepType>
  </Properties>
</Content>