<?xml version="1.0" encoding="utf-8"?>
<Content Key="c89d5762-9b29-4700-915c-21a4fdff65a0" Alias="Product" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Product</Path>
    <Trashed Parent="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">true</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2024-01-08T10:48:02</CreateDate>
    <NodeName Default="Product" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ccbe61d6-c1d1-4708-a79d-ba0948b3d2fa">Products</Template>
  </Info>
  <Properties />
</Content>