<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3b9d0e3-3b1d-42f4-a613-9e9c0b197405" Alias="Products" Level="2">
  <Info>
    <Parent Key="a3497b3b-4cc1-4b11-afc0-7bc328fe6c75">SMart</Parent>
    <Path>/SMart/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2024-02-28T14:30:40</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ccbe61d6-c1d1-4708-a79d-ba0948b3d2fa">Products</Template>
  </Info>
  <Properties />
</Content>