<?xml version="1.0" encoding="utf-8"?>
<Content Key="a93eb29a-b530-415d-8c38-c2fa6cc0fcf8" Alias="Products" Level="2">
  <Info>
    <Parent Key="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">Home</Parent>
    <Path>/Home/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>products</ContentType>
    <CreateDate>2024-01-05T14:37:30</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ccbe61d6-c1d1-4708-a79d-ba0948b3d2fa">Products</Template>
  </Info>
  <Properties />
</Content>