<?xml version="1.0" encoding="utf-8"?>
<Content Key="a76768c2-fa69-47b6-b17d-3c5ac7a00b06" Alias="realme GT 2 Pro 5G 256GB" Level="3">
  <Info>
    <Parent Key="a93eb29a-b530-415d-8c38-c2fa6cc0fcf8">Products</Parent>
    <Path>/Home/Products/realmeGT2Pro5G256GB</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-01-08T17:19:44</CreateDate>
    <NodeName Default="realme GT 2 Pro 5G 256GB" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8fe48282-8b47-410d-9e10-28b162fbd609">Product</Template>
  </Info>
  <Properties>
    <categoryType>
      <Value><![CDATA[umb://document/6673d1280d2b4a328fffaf585b3af846]]></Value>
    </categoryType>
    <image>
      <Value><![CDATA[[
  {
    "key": "9a2a110f-ad2f-4204-b651-f401905cb6e2",
    "mediaKey": "855bd9ea-2561-4a31-af6b-95420efb9f7d"
  }
]]]></Value>
    </image>
    <price>
      <Value><![CDATA[{
  "eedf03d8-8740-428b-8bce-018cd87f49c6": 33
}]]></Value>
    </price>
    <productName>
      <Value><![CDATA[realme GT 2 Pro 5G 256GB]]></Value>
    </productName>
    <sKU>
      <Value><![CDATA[SM-006]]></Value>
    </sKU>
  </Properties>
</Content>