<?xml version="1.0" encoding="utf-8"?>
<Content Key="115aafb1-5186-4d40-a55d-fada8b570267" Alias="Review Order" Level="2">
  <Info>
    <Parent Key="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">Home</Parent>
    <Path>/Home/ReviewOrder</Path>
    <Trashed>false</Trashed>
    <ContentType>reviewOrder</ContentType>
    <CreateDate>2024-01-10T10:54:45</CreateDate>
    <NodeName Default="Review Order" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="63e50e66-e29c-4133-9401-051a9b64c2dd">ReviewOrder</Template>
  </Info>
  <Properties />
</Content>