<?xml version="1.0" encoding="utf-8"?>
<Content Key="19912299-87e0-45b8-aeea-16e439a2a801" Alias="Review Order" Level="3">
  <Info>
    <Parent Key="9983a29f-650b-4c24-b8e6-7d555c87cfc7">Checkout</Parent>
    <Path>/Home/Checkout/ReviewOrder</Path>
    <Trashed>false</Trashed>
    <ContentType>uccCheckoutStepPage</ContentType>
    <CreateDate>2024-01-09T12:04:30</CreateDate>
    <NodeName Default="Review Order" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <uccShortStepName>
      <Value><![CDATA[Review Order]]></Value>
    </uccShortStepName>
    <uccStepType>
      <Value><![CDATA[[
  "Review"
]]]></Value>
    </uccStepType>
  </Properties>
</Content>