<?xml version="1.0" encoding="utf-8"?>
<Content Key="b80a8198-3ad1-49e9-9e21-c1b4bb87ac93" Alias="Samsung Galaxy S20 FE 5G" Level="3">
  <Info>
    <Parent Key="a93eb29a-b530-415d-8c38-c2fa6cc0fcf8">Products</Parent>
    <Path>/Home/Products/SamsungGalaxyS20FE5G</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-01-08T17:19:14</CreateDate>
    <NodeName Default="Samsung Galaxy S20 FE 5G">
      <Name Culture="en-us">Samsung Galaxy S20 FE 5G</Name>
      <Name Culture="es">Samsung Galaxy S20 FE 5G</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
      <Published Culture="es">true</Published>
    </Published>
    <Schedule />
    <Template Key="8fe48282-8b47-410d-9e10-28b162fbd609">Product</Template>
  </Info>
  <Properties>
    <categoryType>
      <Value><![CDATA[umb://document/6673d1280d2b4a328fffaf585b3af846]]></Value>
    </categoryType>
    <image>
      <Value><![CDATA[[
  {
    "key": "f8e8295e-d683-4293-af4d-098a600e87ff",
    "mediaKey": "855bd9ea-2561-4a31-af6b-95420efb9f7d"
  }
]]]></Value>
    </image>
    <price>
      <Value><![CDATA[{
  "eedf03d8-8740-428b-8bce-018cd87f49c6": 67
}]]></Value>
    </price>
    <productDetail>
      <Value Culture="en-us"><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua]]></Value>
      <Value Culture="es"><![CDATA[El sol brilla en el cielo azul, iluminando el mundo con su cálido resplandor.]]></Value>
    </productDetail>
    <productName>
      <Value><![CDATA[Samsung Galaxy S20 FE 5G]]></Value>
    </productName>
    <sKU>
      <Value><![CDATA[SM-004]]></Value>
    </sKU>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>