<?xml version="1.0" encoding="utf-8"?>
<Content Key="2d767340-9ec0-4451-9727-1abc32653e76" Alias="Shipping Method" Level="2">
  <Info>
    <Parent Key="2b17f3a8-f0cc-47ce-9b21-7764a2cf5175">Home</Parent>
    <Path>/Home/ShippingMethod</Path>
    <Trashed>false</Trashed>
    <ContentType>shippingMethod</ContentType>
    <CreateDate>2024-01-09T15:31:11</CreateDate>
    <NodeName Default="Shipping Method" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="35868911-7f67-4913-b6e9-c986d3211bc1">ShippingMethod</Template>
  </Info>
  <Properties />
</Content>