<?xml version="1.0" encoding="utf-8"?>
<Content Key="250493d5-08c1-4836-83fe-8d129f3658b1" Alias="Shipping Method" Level="3">
  <Info>
    <Parent Key="9983a29f-650b-4c24-b8e6-7d555c87cfc7">Checkout</Parent>
    <Path>/Home/Checkout/ShippingMethod</Path>
    <Trashed>false</Trashed>
    <ContentType>uccCheckoutStepPage</ContentType>
    <CreateDate>2024-01-09T12:04:30</CreateDate>
    <NodeName Default="Shipping Method" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <uccShortStepName>
      <Value><![CDATA[Shipping Method]]></Value>
    </uccShortStepName>
    <uccStepType>
      <Value><![CDATA[[
  "ShippingMethod"
]]]></Value>
    </uccStepType>
  </Properties>
</Content>