<?xml version="1.0" encoding="utf-8"?>
<Content Key="04007f3c-bf1d-41ae-9234-2e2e6e3eea6d" Alias="shirt" Level="3">
  <Info>
    <Parent Key="a3b9d0e3-3b1d-42f4-a613-9e9c0b197405">Products</Parent>
    <Path>/SMart/Products/shirt</Path>
    <Trashed>false</Trashed>
    <ContentType>product</ContentType>
    <CreateDate>2024-02-28T14:48:00</CreateDate>
    <NodeName Default="shirt">
      <Name Culture="en-us">shirt</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="8fe48282-8b47-410d-9e10-28b162fbd609">Product</Template>
  </Info>
  <Properties>
    <categoryType>
      <Value><![CDATA[]]></Value>
    </categoryType>
    <image>
      <Value><![CDATA[[]]]></Value>
    </image>
    <price>
      <Value><![CDATA[{
  "00d81746-8bcf-4885-a2b7-018deee9210f": 22
}]]></Value>
    </price>
    <productDetail>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </productDetail>
    <productName>
      <Value><![CDATA[Shirt]]></Value>
    </productName>
    <sKU>
      <Value><![CDATA[]]></Value>
    </sKU>
    <stock>
      <Value><![CDATA[-1]]></Value>
    </stock>
  </Properties>
</Content>