<?xml version="1.0" encoding="utf-8"?>
<Content Key="a3497b3b-4cc1-4b11-afc0-7bc328fe6c75" Alias="SMart" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SMart</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-02-28T14:29:20</CreateDate>
    <NodeName Default="SMart" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="31326ab4-fadb-45c4-9045-5494551b8071">Home</Template>
  </Info>
  <Properties>
    <store>
      <Value><![CDATA[d5c64490-281d-4d82-859a-018deee920c0]]></Value>
    </store>
  </Properties>
</Content>