<?xml version="1.0" encoding="utf-8"?>
<Content Key="6673d128-0d2b-4a32-8fff-af585b3af846" Alias="Smartphones" Level="3">
  <Info>
    <Parent Key="d2589eea-382e-4d67-8a5a-9996775e232f">Categories</Parent>
    <Path>/Home/Categories/Smartphones</Path>
    <Trashed>false</Trashed>
    <ContentType>category</ContentType>
    <CreateDate>2024-01-05T14:39:05</CreateDate>
    <NodeName Default="Smartphones" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="64a62955-3740-45a8-9259-bd2feffafa8d">Category</Template>
  </Info>
  <Properties>
    <categoryDescription>
      <Value><![CDATA[]]></Value>
    </categoryDescription>
    <categoryName>
      <Value><![CDATA[Smartphones]]></Value>
    </categoryName>
  </Properties>
</Content>