<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ab491100-47c6-46b0-b00d-2f956dfc9486" Alias="Home - Store - Umbraco Commerce: Store Picker (1)" Level="1">
  <Info>
    <Name>Home - Store - Umbraco Commerce: Store Picker (1)</Name>
    <EditorAlias>Umbraco.Commerce.StorePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>