<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1ba006aa-ed46-4ade-a9e5-9f4617ee8359" Alias="Home - Store - Umbraco Commerce: Store Picker" Level="1">
  <Info>
    <Name>Home - Store - Umbraco Commerce: Store Picker</Name>
    <EditorAlias>Umbraco.Commerce.StorePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>