<?xml version="1.0" encoding="utf-8"?>
<DataType Key="542816c1-2d1d-4d86-9872-e9d4ea6dd415" Alias="Product - Stock - Umbraco Commerce: Stock" Level="1">
  <Info>
    <Name>Product - Stock - Umbraco Commerce: Stock</Name>
    <EditorAlias>Umbraco.Commerce.Stock</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Fraction": 1
}]]></Config>
</DataType>