<?xml version="1.0" encoding="utf-8"?>
<DataType Key="781d1160-fabe-4dce-8825-af515720251d" Alias="Product - Product Price - Umbraco Commerce: Price" Level="1">
  <Info>
    <Name>Product - Product Price - Umbraco Commerce: Price</Name>
    <EditorAlias>Umbraco.Commerce.Price</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Fraction": 0
}]]></Config>
</DataType>