<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0062915d-a837-4d0c-9f17-c19c1798a1cf" Alias="Product - Category Type - Multinode Treepicker" Level="1">
  <Info>
    <Name>Product - Category Type - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/d2589eea382e4d678a5a9996775e232f",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>