<?xml version="1.0" encoding="utf-8"?>
<DataType Key="46322397-3b7b-4d53-a5db-a1b17553d397" Alias="[Umbraco Commerce Checkout] Theme Color Picker" Level="1">
  <Info>
    <Name>[Umbraco Commerce Checkout] Theme Color Picker</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 0,
      "value": "{\"value\":\"000000\", \"label\":\"black\"}"
    },
    {
      "id": 1,
      "value": "{\"value\":\"ef4444\", \"label\":\"red-500\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"f97316\", \"label\":\"orange-500\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"eab308\", \"label\":\"yellow-500\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"22c55e\", \"label\":\"green-500\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"14b8a6\", \"label\":\"teal-500\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"3b82f6\", \"label\":\"blue-500\"}"
    },
    {
      "id": 7,
      "value": "{\"value\":\"6366f1\", \"label\":\"indigo-500\"}"
    },
    {
      "id": 8,
      "value": "{\"value\":\"a855f7\", \"label\":\"purple-500\"}"
    },
    {
      "id": 9,
      "value": "{\"value\":\"ec4899\", \"label\":\"pink-500\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>