<?xml version="1.0" encoding="utf-8"?>
<Content Key="1a166410-d0c5-405d-b47c-88fd99f36b40" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>home</ContentType>
    <CreateDate>2024-03-08T14:46:00</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="31326ab4-fadb-45c4-9045-5494551b8071">Home</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <store>
      <Value><![CDATA[1f0f0ae0-dcba-4b1c-8584-018cd87f4959]]></Value>
    </store>
  </Properties>
</Content>