<?xml version="1.0" encoding="utf-8"?>
<Macro Key="f32217ab-3869-454f-a12e-b0816e1cb5a5" Alias="LoginStatus" Level="0">
  <Name>LoginStatus</Name>
  <MacroSource>~/Views/MacroPartials/LoginStatus.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>