<?xml version="1.0" encoding="utf-8"?>
<Macro Key="73c83ac3-7cfa-4b09-b530-17f24c76755f" Alias="RegisterMember" Level="0">
  <Name>Register Member</Name>
  <MacroSource>~/Views/MacroPartials/Register Member.cshtml</MacroSource>
  <UseInEditor>false</UseInEditor>
  <DontRender>false</DontRender>
  <CachedByMember>false</CachedByMember>
  <CachedByPage>false</CachedByPage>
  <CachedDuration>0</CachedDuration>
  <Properties />
</Macro>