<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5fec0fc7-c003-45d7-8a48-cfefd35172d1" Alias="cart" Level="2">
  <Info>
    <Name>Cart</Name>
    <Icon>icon-shopping-basket color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Cart</Folder>
    <Compositions />
    <DefaultTemplate>Cart</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="007bc01d-d249-463d-8bcf-284eb83ec6a9">Cart</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>