<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="edc79770-39e1-4437-8f63-7d99646b6b25" Alias="categories" Level="2">
  <Info>
    <Name>Categories</Name>
    <Icon>icon-documents color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Category</Folder>
    <Compositions />
    <DefaultTemplate>Categories</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1bdd6974-da1b-4f88-92bf-a4d154728341">Categories</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ca0d2257-13d6-43db-bf4f-b3f4c5930798" SortOrder="0">category</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>