<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aaa3ab36-36b0-4b71-abc4-1ace6efca3f1" Alias="customertInformation" Level="2">
  <Info>
    <Name>Customer Information</Name>
    <Icon>icon-info color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="55f4b88e-69b6-45a4-bc4f-d48f35f6b904">uccBasePage</Parent>
    <Compositions>
      <Composition Key="55f4b88e-69b6-45a4-bc4f-d48f35f6b904">uccBasePage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutInformation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cbce5989-e339-46b9-b26f-f4d52175c8c0">CheckoutInformation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>