<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3ccf6ac6-3647-4de1-a016-c5c2e4a11ab6" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="31326ab4-fadb-45c4-9045-5494551b8071">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="8b7705f9-70da-4401-9c4f-aa23c57de0ec" SortOrder="0">products</ContentType>
    <ContentType Key="edc79770-39e1-4437-8f63-7d99646b6b25" SortOrder="1">categories</ContentType>
    <ContentType Key="5fec0fc7-c003-45d7-8a48-cfefd35172d1" SortOrder="2">cart</ContentType>
    <ContentType Key="c8edcf1c-4b0e-4f0b-9532-7ed7ea8c04fb" SortOrder="3">myAccount</ContentType>
    <ContentType Key="aaa3ab36-36b0-4b71-abc4-1ace6efca3f1" SortOrder="4">customertInformation</ContentType>
    <ContentType Key="936750a1-b023-4609-b087-63bba2da9979" SortOrder="5">shippingMethod</ContentType>
    <ContentType Key="9ac63f45-81f9-4091-a4ec-dd47d9219090" SortOrder="6">paymentMethod</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ce817c5c-ab8c-4d4f-8579-fb74c39f81b6</Key>
      <Name>Store</Name>
      <Alias>store</Alias>
      <Definition>1ba006aa-ed46-4ade-a9e5-9f4617ee8359</Definition>
      <Type>Umbraco.Commerce.StorePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="store">Store</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a6627e7a-50fa-4a5c-877b-6a182b325295</Key>
      <Caption>Store</Caption>
      <Alias>store</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>