<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c8edcf1c-4b0e-4f0b-9532-7ed7ea8c04fb" Alias="myAccount" Level="1">
  <Info>
    <Name>My Account</Name>
    <Icon>icon-settings color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MyAccount</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="30f51375-20c0-402f-8516-be92c98d7814">MyAccount</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>