<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="13dc52e9-29e0-46f5-b8b8-6f5e88fe2a45" Alias="myOrders" Level="2">
  <Info>
    <Name>My Orders</Name>
    <Icon>icon-app color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Order</Folder>
    <Compositions />
    <DefaultTemplate>MyOrders</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1c89bb50-b3c8-48af-9dd9-0e65428182eb">MyOrders</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>