<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ad7e32f-f55d-450c-8a58-34c6ccc83ae3" Alias="myOrder" Level="2">
  <Info>
    <Name>My Order</Name>
    <Icon>icon-brush color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Order</Folder>
    <Compositions />
    <DefaultTemplate>MyOrder</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="00c11696-32f4-4c7e-8356-bcd912ea9814">MyOrder</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>