<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="077398d1-1bcd-4ab4-879c-0e687ce636eb" Alias="orderConfirmation" Level="2">
  <Info>
    <Name>Order Confirmation</Name>
    <Icon>icon-receipt-dollar color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="55f4b88e-69b6-45a4-bc4f-d48f35f6b904">uccBasePage</Parent>
    <Compositions>
      <Composition Key="55f4b88e-69b6-45a4-bc4f-d48f35f6b904">uccBasePage</Composition>
    </Compositions>
    <DefaultTemplate>OrderConfirmation</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="cc45d94c-2d3b-4d81-a2ec-9ca4e92f4571">OrderConfirmation</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>