<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ac63f45-81f9-4091-a4ec-dd47d9219090" Alias="paymentMethod" Level="2">
  <Info>
    <Name>Payment Method</Name>
    <Icon>icon-bill-euro color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="55f4b88e-69b6-45a4-bc4f-d48f35f6b904">uccBasePage</Parent>
    <Compositions>
      <Composition Key="55f4b88e-69b6-45a4-bc4f-d48f35f6b904">uccBasePage</Composition>
    </Compositions>
    <DefaultTemplate>PaymentMethod</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ec07f9a5-f884-4699-9147-3cebaddba471">PaymentMethod</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>