<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8b7705f9-70da-4401-9c4f-aa23c57de0ec" Alias="products" Level="2">
  <Info>
    <Name>Products</Name>
    <Icon>icon-previous-media color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Product</Folder>
    <Compositions />
    <DefaultTemplate>Products</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ccbe61d6-c1d1-4708-a79d-ba0948b3d2fa">Products</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="f66c8eaf-8c85-43fe-bc9b-3b716a9500f5" SortOrder="0">product</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>