<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="0da979f5-0a40-42e1-b6a8-60cd18ce91b9" Alias="reviewOrder" Level="2">
  <Info>
    <Name>Review Order</Name>
    <Icon>icon-eye color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="55f4b88e-69b6-45a4-bc4f-d48f35f6b904">uccBasePage</Parent>
    <Compositions>
      <Composition Key="55f4b88e-69b6-45a4-bc4f-d48f35f6b904">uccBasePage</Composition>
    </Compositions>
    <DefaultTemplate>ReviewOrder</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="63e50e66-e29c-4133-9401-051a9b64c2dd">ReviewOrder</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>