<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="936750a1-b023-4609-b087-63bba2da9979" Alias="shippingMethod" Level="2">
  <Info>
    <Name>Shipping Method</Name>
    <Icon>icon-truck color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="55f4b88e-69b6-45a4-bc4f-d48f35f6b904">uccBasePage</Parent>
    <Compositions>
      <Composition Key="55f4b88e-69b6-45a4-bc4f-d48f35f6b904">uccBasePage</Composition>
    </Compositions>
    <DefaultTemplate>ShippingMethod</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="35868911-7f67-4913-b6e9-c986d3211bc1">ShippingMethod</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>