<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e5e809cf-f3e5-4bb8-b7bb-c67c8303c2f4" Alias="uccCheckoutPage" Level="2">
  <Info>
    <Name>Checkout Page</Name>
    <Icon>icon-cash-register color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="d9384576-e6a8-4ef2-8ca8-475ee6e7546d" SortOrder="1">uccCheckoutStepPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2efa9fac-a39a-496b-b425-897d4dcc9dd1</Key>
      <Name>Checkout Back Page</Name>
      <Alias>uccBackPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page to go back to when backing out of the checkout flow.]]></Description>
      <SortOrder>60</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc22eb88-71e4-42e9-b128-cd265234faa3</Key>
      <Name>Collect Shipping Info</Name>
      <Alias>uccCollectShippingInfo</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select whether to collect shipping information or not. Not necessary if you are only dealing with digital downloads.]]></Description>
      <SortOrder>40</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e363ee49-8d94-4e50-9d3e-de7ab63f5f13</Key>
      <Name>Order Line Property Aliases</Name>
      <Alias>uccOrderLinePropertyAliases</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Comma separated list of order line property aliases to display in the order summary.]]></Description>
      <SortOrder>50</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d759d5a4-d350-42e1-a07c-9fd261ca3ab7</Key>
      <Name>Privacy Policy Page</Name>
      <Alias>uccPrivacyPolicyPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page on the site containing the privacy policy.]]></Description>
      <SortOrder>80</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c41acb9d-d3ff-4e3d-998a-2e93e2a5a1e1</Key>
      <Name>Store Address</Name>
      <Alias>uccStoreAddress</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The address of the web store to appear in the footer of order emails.]]></Description>
      <SortOrder>20</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c28c1227-ba28-4086-ad14-df07715c85ad</Key>
      <Name>Store Logo</Name>
      <Alias>uccStoreLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A logo image for the store to appear at the top of the checkout screens and order emails.]]></Description>
      <SortOrder>10</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c2b4cfd3-9856-4cdd-9cf1-2f5863323707</Key>
      <Name>Terms and Conditions Page</Name>
      <Alias>uccTermsAndConditionsPage</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The page on the site containing the terms and conditions.]]></Description>
      <SortOrder>70</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fb6acde9-f0a9-4161-8b60-433c2288c89c</Key>
      <Name>Theme Color</Name>
      <Alias>uccThemeColor</Alias>
      <Definition>46322397-3b7b-4d53-a5db-a1b17553d397</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The theme color to use for colored elements of the checkout pages.]]></Description>
      <SortOrder>30</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6ca4adee-c270-47a5-a6ee-83057cd915e1</Key>
      <Name>Hide from Navigation</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide the checkout page from the sites main navigation.]]></Description>
      <SortOrder>90</SortOrder>
      <Tab Alias="settings">Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>7b2b8824-5ce7-436d-b482-6ba8b4c025e6</Key>
      <Caption>Settings</Caption>
      <Alias>settings</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
  </Tabs>
</ContentType>