<?xml version="1.0" encoding="utf-8"?>
<Media Key="855bd9ea-2561-4a31-af6b-95420efb9f7d" Alias="Product07" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Product07</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-05T15:00:03</CreateDate>
    <NodeName Default="Product07" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3tmfxblb/product07.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>