<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab2770a1-0f7e-4a97-94e3-283403688c2b" Alias="Shop01" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shop01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-08T14:39:17</CreateDate>
    <NodeName Default="Shop01" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/u3ycpk14/shop01.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>