<?xml version="1.0" encoding="utf-8"?>
<Media Key="13a6585a-03ac-4203-9b1f-daa0f1a9c3e2" Alias="Shop02" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shop02</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-08T14:39:34</CreateDate>
    <NodeName Default="Shop02" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lrmkme3m/shop02.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>