<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea995dd2-b237-4155-a15c-bfac1b606842" Alias="Shop03" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shop03</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-01-08T14:39:24</CreateDate>
    <NodeName Default="Shop03" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0rojt0rx/shop03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>